In [19]:
import update_datasets

In [20]:
update_datasets.create(update_datasets.datasets)

Creating directories...

In [21]:
update_datasets.download(update_datasets.datasets, update_datasets.headers)

In [25]:
merged_df = update_datasets.merge(update_datasets.datasets)

Merging datasets...
	mdba/campaspe/rochester.csv (Rochester)
	mdba/goulburn/mccoy-bridge.csv (Mccoy Bridge)
	mdba/loddon/kerang.csv (Kerang)
	bom/loddon/kerang/water_course_discharge.csv (Kerang)
	bom/loddon/kerang/water_course_level.csv (Kerang)
	bom/loddon/kerang/water_temperature.csv (Kerang)

In [26]:
merged_df

                                         Water Level (m)  Discharge (ML/Day)  \
Location  Date
Rochester 09:00:00 01/01/1900                      0.036                 0.0
          09:00:00 02/01/1900                      0.025                 0.0
          09:00:00 03/01/1900                      0.025                 0.0
          09:00:00 04/01/1900                      0.025                 0.0
          09:00:00 05/01/1900                      0.011                 0.0
...                                                  ...                 ...
Kerang    2024-04-19T23:00:00.000+10:00              NaN                 NaN
          2024-04-19T23:15:00.000+10:00              NaN                 NaN
          2024-04-19T23:30:00.000+10:00              NaN                 NaN
          2024-04-19T23:45:00.000+10:00              NaN                 NaN
          2024-04-20T00:00:00.000+10:00              NaN                 NaN

                                         Rainfall (mm)  Cond @25 degC(uS/cm)  \
Location  Date
Rochester 09:00:00 01/01/1900                      NaN                   NaN
          09:00:00 02/01/1900                      NaN                   NaN
          09:00:00 03/01/1900                      NaN                   NaN
          09:00:00 04/01/1900                      NaN                   NaN
          09:00:00 05/01/1900                      NaN                   NaN
...                                                ...                   ...
Kerang    2024-04-19T23:00:00.000+10:00            NaN                   NaN
          2024-04-19T23:15:00.000+10:00            NaN                   NaN
          2024-04-19T23:30:00.000+10:00            NaN                   NaN
          2024-04-19T23:45:00.000+10:00            NaN                   NaN
          2024-04-20T00:00:00.000+10:00            NaN                   NaN

                                         Water Temp (Deg C)  \
Location  Date
Rochester 09:00:00 01/01/1900                           NaN
          09:00:00 02/01/1900                           NaN
          09:00:00 03/01/1900                           NaN
          09:00:00 04/01/1900                           NaN
          09:00:00 05/01/1900                           NaN
...                                                     ...
Kerang    2024-04-19T23:00:00.000+10:00                 NaN
          2024-04-19T23:15:00.000+10:00                 NaN
          2024-04-19T23:30:00.000+10:00                 NaN
          2024-04-19T23:45:00.000+10:00                 NaN
          2024-04-20T00:00:00.000+10:00                 NaN

                                         Disolv Oxgn (mg/l)  Value  \
Location  Date
Rochester 09:00:00 01/01/1900                           NaN    NaN
          09:00:00 02/01/1900                           NaN    NaN
          09:00:00 03/01/1900                           NaN    NaN
          09:00:00 04/01/1900                           NaN    NaN
          09:00:00 05/01/1900                           NaN    NaN
...                                                     ...    ...
Kerang    2024-04-19T23:00:00.000+10:00                 NaN   16.7
          2024-04-19T23:15:00.000+10:00                 NaN   16.5
          2024-04-19T23:30:00.000+10:00                 NaN   16.6
          2024-04-19T23:45:00.000+10:00                 NaN   16.5
          2024-04-20T00:00:00.000+10:00                 NaN   16.5

                                         Quality Code  Interpolation Type
Location  Date
Rochester 09:00:00 01/01/1900                     NaN                 NaN
          09:00:00 02/01/1900                     NaN                 NaN
          09:00:00 03/01/1900                     NaN                 NaN
          09:00:00 04/01/1900                     NaN                 NaN
          09:00:00 05/01/1900                     NaN                 NaN
...                                               ...                 ...
Kerang    2024-04-19T23:00:00.000+10:00          10.0               102.0
          2024-04-19T23:15:00.000+10:00          10.0               102.0
          2024-04-19T23:30:00.000+10:00          10.0               102.0
          2024-04-19T23:45:00.000+10:00          10.0               102.0
          2024-04-20T00:00:00.000+10:00          10.0               102.0

[2024933 rows x 9 columns]

In [27]:
update_datasets.output(merged_df, update_datasets.args.outfile)

Writing merged data...
	Written to datasets.csv